* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}



html,
body {
  height: 91%;
}

#container1 {
  min-height: 107%;
  position: relative;
}


#content {
  text-align: center;
  /* margin-top: 50px; */
}

#content1 {
  margin-top: 0px;
}

body {
  background: #efefef;
  font-size: 11px;
  color: #666;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  background-size: cover;
  background-attachment: fixed;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #e37979 #e6e6e6;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: #e6e6e6;
}

*::-webkit-scrollbar-thumb {
  background-color: #e37979;
  border: 1px solid #e6e6e6;
}

.scroller-itwd {
  width: auto;
  overflow-x: scroll;
  white-space: nowrap;
  /*  scrollbar-color: #1e92c1 #cbcccb; 
  scrollbar-width: thin;*/
}


.content {
  height: 0px;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 1115px) {
  .header {
    visibility: hidden;
  }



  .report-th {
    visibility: hidden;
  }

  .open>.drpdwn-menu {
    padding-top: 0px;
  }


}



.container1 {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.mainheader {
  width: 100.4%;
  height: 35px;
  background-color: #ecebeb;
  /*border-bottom: 5px solid #4cb946;*/
  opacity: 1;
  /* position: absolute; */
  margin-top: 0px;
  position: fixed;
  z-index: 99;
}

.header {
  /*background-image: url(gambar/header-neuro-imaging.jpg);*/
  height: 35px;
  /* margin: 0px 133px 25px 10px; */
  width: auto;
  /* padding: 5px 5px; */
}

.logo {
  width: 100px;
  /* height: 60px;
  
  margin: -17px -5px 0px -135px;
  float: left;
  border-right: 2px solid #fff ; */
}

.logo1 {
  /* height: 40px; */
  width: 100px;
  margin-top: 5px;
  /* margin: -10px 0px 0px 0px; */

}

.logo2 {
  /* height: 85px; */
  width: 65px;
  /* margin-top: 1px; */
  /* margin-left: 110px; */
  /* margin: -59px -135px -5px 0px; */
}

.nav-fostrap {
  display: block;
  margin-bottom: 15px 0;
  background: #fff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
  /* border-radius: 5px; */
  border-top: 1px solid #fff;
  padding: 8px 20px;
  /* position: fixed; */
  width: 100%;
  /* margin-left: 5px; */
}

.nav-fostrap ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* display: block; */
}

.nav-fostrap li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  /*font-size: 14;*/
  /* color: #def1f0; */
}

.nav-fostrap li a {
  padding: 5px 5px;
  /* font-size: 14; */
  color: #84a6a4;
  display: inline-block;
  outline: 0;
  font-weight: 400;
  text-decoration: none;
  width: 78px;
  border: solid 1px #eeeded;
  border-radius: 5px;
  /* transition: 0.5s ease-in-out; */
}

.nav-fostrap li:hover ul.dropdown {
  display: block;
}

.nav-fostrap li ul.dropdown {
  position: absolute;
  display: none;
  width: 200px;
  background: #C9590F;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding-top: 0;
}

.nav-fostrap li ul.dropdown li {
  display: block;
  list-style-type: none;
}

.nav-fostrap li ul.dropdown li a {
  padding: 15px 20px;
  font-size: 15px;
  color: #fff;
  display: block;
  font-weight: 400;
}

.nav-fostrap li ul.dropdown li:last-child a {
  border-bottom: none;
}

.nav-fostrap li:hover a {
  background: #ecebeb;
  color: #1e92c1 !important;
  border-radius: 12px;
}

.nav-fostrap li:first-child:hover a {
  border-radius: 3px 0 0 3px;
}

.nav-fostrap li ul.dropdown li:hover a {
  background: rgba(0, 0, 0, .1);
}

.nav-fostrap li ul.dropdown li:first-child:hover a {
  border-radius: 0;
}

.nav-fostrap li:hover .arrow-down {
  border-top: 5px solid #fff;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #def1f0;
  position: relative;
  top: 15px;
  right: -5px;
  content: '';
}

.title-mobile {
  display: none;
}

.breadcrumb1 {
  margin-top: 98px;
  margin-bottom: 34px;
  background-color: #e6e6e6;
  border-radius: unset;
}

.center-menu {
  text-align: center;
}

@media only screen and (max-width:1115px) {

  .mainheader {
    height: 55px;
    background-size: 0 0;
    background-color: #fff0;
  }

  .breadcrumb1 {
    margin-top: 30px;
  }

  .center-menu {
    text-align: left;
  }

  .br-menu {
    display: none;
  }

  .nav-fostrap {
    background: #fff;
    width: 200px;
    height: 100%;
    display: block;
    position: fixed;
    left: -200px;
    top: 0px;
    -webkit-transition: left 0.25s ease;
    -moz-transition: left 0.25s ease;
    -ms-transition: left 0.25s ease;
    -o-transition: left 0.25s ease;
    transition: left 0.25s ease;
    margin: 0;
    border: 0;
    border-radius: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    z-index: 99;
  }

  .title-mobile {
    position: fixed;
    display: block;
    top: 10px;
    font-size: 20px;
    /* left: 100px; */
    right: 15px;
    text-align: center;
    color: #FFF;
  }

  .nav-fostrap.visible {
    left: 0px;
    -webkit-transition: left 0.25s ease;
    -moz-transition: left 0.25s ease;
    -ms-transition: left 0.25s ease;
    -o-transition: left 0.25s ease;
    transition: left 0.25s ease;
  }

  .nav-bg-fostrap {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 45px;
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #1e92c1;
    padding: 12px 0 0 10px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    z-index: 200;
    position: fixed;
  }

  .navbar-fostrap {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px;
  }

  .navbar-fostrap span {
    height: 2px;
    background: #fff;
    margin: 5px;
    display: block;
    width: 20px;
  }

  .navbar-fostrap span:nth-child(2) {
    width: 20px;
  }

  .navbar-fostrap span:nth-child(3) {
    width: 20px;
  }

  .nav-fostrap ul {
    padding-top: 50px;
  }

  .nav-fostrap li {
    display: block;
  }

  .nav-fostrap li a {
    display: block;
    color: #505050;
    font-weight: 600;
    margin: 10px;
    width: 115px;
    border: none;
  }

  .nav-fostrap li:first-child:hover a {
    border-radius: 0;
  }

  .nav-fostrap li ul.dropdown {
    position: relative;
  }

  .nav-fostrap li ul.dropdown li a {
    background: #C9590F !important;
    border-bottom: none;
    color: #fff !important;
  }

  .nav-fostrap li:hover a {
    background: #d5dee1;
    color: #fff !important;
    border-radius: 0%;
  }

  .nav-fostrap li ul.dropdown li:hover a {
    background: rgba(0, 0, 0, .1);
     !important;
    color: #fff !important;
  }

  .nav-fostrap li ul.dropdown li a {
    padding: 10px 10px 10px 30px;
  }

  .nav-fostrap li:hover .arrow-down {
    border-top: 5px solid #fff;
  }

  .arrow-down {
    border-top: 5px solid #505050;
    position: absolute;
    top: 20px;
    right: 10px;
  }

  .cover-bg {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .input-checkbox {
    border: none;
  }
}

@media only screen and (max-width:1199px) {

  .container {
    width: 96%;
  }
}


.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

/*---------------------TABLE----------------*/
.table-search {
  width: 100%;
  padding-left: 130px;
}

.table-dicom {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  /* margin-left: 115px; */
  margin-top: 5px;
  color: #393939;
  display: inline-table;
  text-transform: uppercase;
}

h4 {
  font-size: 14px;
}

.table-dicom tr {
  background-color: #efefef;
}

.table-dicom td,
th {
  /*border: 1px solid #bababa;*/
  padding: 5px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}

.table-dicom tr:nth-child(even) {
  background-color: #eaf7f2;
}

.table-dicom tr:hover {
  background-color: #d8dee1;
  color: #fff;
}

.table-dicom th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background: #24ade3;
  color: white;
  text-align: center;

}




/*---------------------TABLE----------------*/

.header-adm {
  background-color: #449f8d;
  color: white;
  margin: -10px 133px 0px 290px;
  width: 50%;
  height: 40px;
  text-align: center;
  border-bottom: 5px solid #85CBB3;
}

.content-adm {
  background-color: green;
  margin: 15px 133px 0px 133px;
}

.content1-adm {
  background-color: cyan;
  margin: -15px 50px 0px 240px;
}

.content1-adm ul {
  float: left;
  margin-right: 100px;

}

/*-----------**--------*/
.content1-adm ul {
  list-style-type: none;
  float: left;
  margin-right: 100px;
  /*margin: 0;*/
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

.content1-adm li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.content1-adm li a:hover {
  background-color: #555;
  color: white;
}

/*------**-----------*/




.input-checkbox {
  border-right: 3px solid #1e92c1;
  border-left: 3px solid #1e92c1;
  min-height: 77px;
}

.input-name {
  /* border-left: 3px solid #fff; */

}

.btn-worklist {
  background-color: #85CBB3;
  color: #fff;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  transition: 0.5s ease-in-out;
  /* width: 25%; */
  /* height: 25px; */
  margin-right: 5px;
  padding: 4px;
  /*box-shadow: #c4aeae 3px 3px;*/
}

.btn-worklist:hover {
  background-color: #fff;
  color: #85CBB3;
}

.btn-worklist1 {
  background-color: #1f6f43;
  color: #fff;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  transition: 0.5s ease-in-out;
  /* width: 25%; */
  /* height: 25px; */
  margin-right: 5px;
}

.btn-worklist1:hover {
  background-color: #fff;
  color: #1f6f43;
}

#purchase_order {
  background-color: #f1f1f1;
  margin-bottom: 100px;
  margin-top: 10px;
}


.search-workload {
  background-color: #f1f1f1;
  color: #373737;
  border: 4px solid #1e92c1;
  margin-bottom: 25px;
}

.note5 {
  margin-top: 10px;
}

.date-icon:before {
  display: inline-block;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  content: "\f073";
  color: #8a8a8a;
  margin: 8px 0px 0px 9px;
  position: absolute;
  font-size: 15px;
}



/*.search-icon2:before{
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  content: "\f002";
  color:  #8a8a8a;
  margin: 15px 0px 0px 10px;
  position: absolute;
}*/


.label-workload {
  background-color: #116d93;
  color: #fff;
}

.content1 {
  background-color: #f5f5f5;
  border-bottom: 3px solid #116d93;
}

.reg-1 {
  background-color: #e6e6e6;
  width: 100%;
  color: #747575;
  padding-left: 5px;
}

/*.search-icon:before{
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  content: "\f002";
  color:  #8a8a8a;
  margin: 9px 0px 0px 10px;
  position: absolute;
}*/

.border-reg {
  border-right: 3px solid #116d93;
}

.wrap-search {
  padding: 3px;
}

.buttonsearch {
  background-color: #85CBB3;
  color: #fff;
  margin: 5px 15px 0px 0px;
  /*box-shadow: #c4aeae 3px 3px;*/
  float: right;
  font-weight: bold;
  font-size: 11px;
}



.buttonsearch2 {
  background-color: #85CBB3;
  color: #fff;
  margin: 5px 15px 0px 0px;
  /*box-shadow: #c4aeae 3px 3px;*/
  float: right;
  font-weight: bold;
  font-size: 11px;
}


.textsearchnewpasien {
  text-align: center;
  color: #85CBB3;
}

.work-1 {
  background-color: #1e92c1;
  width: 100%;
  color: #fff;
  padding: 2px 5px;
}


.btn-worklist2 {
  background-color: #c24d4d;
  color: #fff;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  transition: 0.5s ease-in-out;
  padding: 4px;
  margin-right: 5px;
}

.btn-worklist2:hover {
  background-color: #fff;
  color: #c24d4d;
}

#footer2 {
  margin-bottom: 150px;
}



.btn-worklist1 {
  background-color: #1f6f43;
  color: #fff;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  transition: 0.5s ease-in-out;
  padding: 4px;
  /*box-shadow: #c4aeae 3px 3px;*/
}

.btn-worklist1:hover {
  background-color: #fff;
  color: #1f6f43;
}

.btn-worklist2 {
  background-color: #c24d4d;
  color: #fff;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  transition: 0.5s ease-in-out;
  padding: 4px;
  /*box-shadow: #c4aeae 3px 3px;*/
}

.btn-worklist2:hover {
  background-color: #fff;
  color: #c24d4d;
}

.btn-worklist3 {
  background-color: #3192d8;
  color: #fff;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  transition: 0.5s ease-in-out;
  height: 25px;
  /* width: 25%; */
  padding: 1px;
  margin-bottom: 3px;
  margin-top: 1px;
  border: 1px solid #158f98;
}

.btn-worklist3:hover {
  background-color: #fff;
  color: #3192d8;
}

.ahref_email {
  background-color: #fff;
  color: #f25353;
  padding: 4px;
  border-radius: 3px;
  transition: 0.5s ease-in-out;
  text-decoration: none;
  margin-right: 2px;
  margin-bottom: 3px;
  border: 1px solid #ba6d23;
}

.ahref_email:hover {
  background-color: #f25353;
  color: #fff;
}

.ahref {
  background-color: #85CBB3;
  color: #fff;
  padding: 4px;
  border-radius: 3px;
  transition: 0.5s ease-in-out;
  text-decoration: none;
  margin-right: 2px;
  margin-bottom: 3px;
  border: 1px solid #ba6d23;
}

.ahref:hover {
  background-color: #fff;
  color: #85CBB3;
}

.ahref2 {
  background-color: #85CBB3;
  color: #fff;
  padding: 9px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  text-decoration: none;
  margin-right: 2px;
  margin-top: 15px;
}

.ahref2:hover {
  background-color: #fff;
  color: #85CBB3;

}

.asd {
  margin-bottom: 50px;
}

.informasi-tambahan {
  color: #369280;
}

/* -----game---------------- */
#container {
  display: inline-block;
  width: 400px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

canvas {
  display: inline-block;
}

.hud {
  height: 50px;
  margin-bottom: 2px;
  line-height: 50px;
  text-align: right;
  font-family: sans-serif;
  font-size: 2em;
}

.score {
  display: inline-block;
  padding-right: 10px;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

/* -------game------------------ */


/* --------------font size-------------- */

.body {
  text-align: justify;
  font-size: 11px;
}

.controls {
  /* text-align: center; */
  position: absolute;
}

.controls a {
  font-size: 20px;
  text-decoration: none;
}

.controls a:hover {
  text-decoration: none;
}

#decfont:hover {
  color: #ff0000;
  text-decoration: none;
}

#incfont:hover {
  color: green;
}

.font-size {
  border: 2px solid #85CBB3;
  padding: 5px;
  /* width: 40%; */
}

.label-font {
  background-color: #1e92c1;
  /* width: 40%; */
  /* padding: 5px; */
  color: #fff;
}

.menu-size {
  width: 100%;
}

.menu-size2 {
  width: 100%;
  margin: 93px 0px 0px 0px;
}

/* --------------font size-------------- */




.informasi-tambahan2 {
  color: #666666;
}

.left-information {
  border: 3px solid #656666;
  padding: 10px 10px 80px 10px;
  margin-bottom: 20px;
}


#content1 {
  padding-bottom: 50px;
}

.footerindex {
  height: 30px;
  line-height: 10px;
  background: #1e92c1;
  color: #fff;
  /* position: fixed; */

  position: absolute;
  bottom: 0px;
  z-index: 98;


  width: 100%;
  /*biar memenuhi layar*/
  /* margin-top: 100px; */
}

/* ///////home//////////////////// */

.hero-image {

  background-color: #efefef;
  height: 80%;
  padding-bottom: 20px;
  margin: 4px;
}


.logo3 {
  width: 55%;
  margin-top: 65px;
}

.logo4 {
  width: 70%;
  padding-left: 60px;
}

#header3 {
  width: 35%
}

.kotak-berita {

  width: 100%;
}

.area-news {
  border: 5px solid #4fa18a;
  background-color: rgba(255, 255, 255, 0.9);
  /*color: #fff;*/
  /*margin-bottom: 30px;*/
  /*height: 200px;*/
}

.news-text {
  color: #fff;
}

/* //////////////////////home index/////////////// */


/* //////////////////about//////////////////////////// */

.about-inti p {
  font-size: 20px;
}

.about-inti {
  padding: 0px 0px;
  background-color: #fff;
}

/* //////////////////about//////////////////////////// */

.button-news {
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  font-size: 25px;
  padding: 10px 50px;
  transition: all 0.4s ease-in-out;
  margin-top: 70px;
}

.button-news:hover {
  background-color: rgba(225, 225, 225, 0.3);
  border: 3px solid #48b19b;
  color: #fff;
}

/* /////////////////////button news//////////////////// */


.form-update-workload1 {
  border: 3px solid #389a87;
  padding: 15px;
  height: auto;
  background-color: #e6e6e6;
}

.form-update-workload input[type=text],
input[type=number],
select {
  width: 100%;
  padding: 5px 25px;
  margin: 3px 0;
  display: inline-block;
  border: 3px solid #8a8a8a;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.form-update-workload li {
  list-style: none;
}

.form-update-workload input[type=text]:focus {
  border: 3px solid #85CBB3;
  background-color: #fff;

}

.form-update-workload select:focus {
  border: 3px solid #85CBB3;
  /* background-color: #85CBB3; */

}

.form-update-workload input[type=number]:focus {
  border: 3px solid #85CBB3;
  /* background-color: #85CBB3; */

}

.form-update-workload select {
  width: 100%;
  padding: 5px 25px;
  margin: 3px 0;
  display: inline-block;
  border: 3px solid #8a8a8a;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.form-update-workload textarea {
  width: 100%;
  padding: 5px 25px;
  margin: 3px 0;
  display: inline-block;
  border: 3px solid #8a8a8a;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.form-update-workload textarea:focus {
  border: 3px solid #85CBB3;
  /* background-color: #85CBB3; */

}

/* ========dropdown======================= */

.nav-fostrap .drpdown .drpdwn-menu li:hover {
  background-color: #fff;
}

.open>.drpdwn-menu {
  background-color: #fff;
}

.drpdwn-menu>li>a:focus,
.drpdwn-menu>li>a:hover {
  background-color: #e37979;
  color: #fff;
}

/* ========dropdown======================= */


.dashboard-home {
  background-color: #fff;
  border: solid 1px #ecebeb;
  padding: 5px;
  margin: 13px 5px;
  border-radius: 10px;
}

.dataTables_filter label {
  float: right;
  margin-top: 8px;
}

.pagination {
  float: right;
}

.input-sm {
  margin-left: 5px;
}

@media only screen and (max-width:768px) {

  .dataTables_filter label {
    float: left;
  }
}


.hr-home {
  height: 5px;
  background-color: #24ade3;
}



/*////////footer fixed//////////*/

@media only screen and (min-width: 2090px) {
  .footerindex {
    position: fixed;
  }
}




/*////////end footer fixed//////////*/

.btn-cancell {
  background-color: #EE2323;
  color: #fff;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  transition: 0.5s ease-in-out;
  padding: 4px;
}

.btn-cancell:hover {
  background-color: #fff;
  color: #EE2323;
}


.input-checkbox2 {
  border-right: 3px solid #fff;
  /*border-left: 3px solid #fff;*/
  min-height: 134px;
}

#btn-worklist1 {
  margin-left: 0px;
}


.btn-tambah-refferal {
  width: 7%;
  height: 35px;
}

.info-pat {
  margin-bottom: 20px;
  height: 50px;
  font-size: 16px;
}

.table-box {
  background-color: #fff;
  padding: 5px;
  border-radius: 7px;
  border: solid 1px #ecebeb;
  margin-top: 5px;
}

.table-box1 {
  background-color: whitesmoke;
  border-top: 5px solid#1e92c1;
  margin-top: 10px;
  padding: 5px 75px;
}





.btn-ex {
  background-color: #85CBB3;
  color: #fff;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  transition: 0.5s ease-in-out;
  /* width: 25%; */
  /* height: 25px; */
  margin-right: 5px;
  padding: 2px;
}

.btn-ex:hover {
  background-color: #fff;
  color: #85CBB3;
}

.btn-wait {
  background-color: red;
  color: #fff;
  padding: 2px;
}

.box-chart {
  box-shadow: 10px;
  background-color: red;
}

.search-workload5 {
  background-color: #116d93;
  color: #1e92c1;
  border: 4px solid #116d93;
  margin-bottom: 25px;
  height: 210px;
}

.report-th {
  background-color: #1e92c1;
}

.report-bg {
  background-color: #f1f1f1;
  border: 3px solid #1e92c1;
}

.report-input {
  border-left: 3px solid #1e92c1;
  border-right: 3px solid #1e92c1;
  height: 50px;
}

.report-input2 {
  border-right: 3px solid #1e92c1;
  height: 50px;
}

.btn-excel {
  background-color: #85cbb3;
  color: #fff;
  border: 1px solid #fff;
  font-size: 13px;
  padding: 3px 10px;
}

.btn-excel:hover {
  background-color: #6bac96;
  color: #fff;
}

.ic-search {
  position: absolute;
  color: #8a8a8a;
  top: 41px;
  margin: -2px 0px 0px 7px;
  font-size: 15px;
}

.ic-search2 {
  position: absolute;
  color: #8a8a8a;
  top: 47px;
  margin: -10px 0px 0px 7px;
  font-size: 15px;
}

.btn-intiwid {
  padding: 5px 5px 5px 5px;
  margin: 0px;
  color: #fff;
  font-size: 12px;
  /*margin-right: 2px;*/
}

.btn-intiwid1 {
  padding: 5px 1px 5px 1px;
  margin: 0px;
  color: #fff;
  font-size: 14px;
  width: 24px;
  text-align: center;
  border-right: solid 1px #d5cdcd;
  box-shadow: none;
}

.btn-inti {
  padding: 5px 2px;
  width: 20px;
  margin-right: 3px;
  color: #fff;
  margin: 0px;
  font-size: 12px;
}

.btn-inti2 {
  margin: 1px;
  padding: 5px 2px;
  width: 20px;
  /*margin-right: 3px;*/
  color: #fff;
  /*margin-bottom: 5px;*/
  font-size: 12px;
  height: 29px;
  border-top: solid 2px #1e92c1;
  box-shadow: none;
}


.btn-inti3 {
  margin: 0px;
  padding: 5px 2px;
  width: 20px;
  /*margin-right: 3px;*/
  color: #fff;
  /*margin-bottom: 5px;*/
  font-size: 12px;
}

.btn.focus,
.btn:focus,
.btn:hover {
  color: #fff;
  text-decoration: none;
}

table td {
  font-size: 11px;
  font-weight: 300;
}

/*.ovrflow{
  width: calc(100%);
   padding: 0 5px 0 5px;
    margin: 0 0 0 0px;
}*/


/*@media only screen and (max-width: 1084px) {
 .ovrflow{
  width: calc(100%);
   padding: 0 5px 0 5px;
    margin: 0 0 0 0px;
}
}*/

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0px;
}

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 1px 1px;
}


.filter-home {
  width: 100%;
  background-color: #efefef;
  padding: 10px;
  margin-top: 0px;

}

.fill-filter {
  border: 3px solid #c4c4c4;
  width: 100%;
  height: 100%;
}

.hr-home2 {
  height: 5px;
  background-color: #1e92c1;
  margin: 0px;
}

.image-preview {}

.report-home {

  /*min-height: 205px;*/
  padding: 2px;
}

.divider-short {
  display: block;
  max-width: 380px;
  height: 2px;
  /*margin: 0 auto;*/
  margin-bottom: 10px;
  background-color: #aaa;
}

.ic-search3 {
  position: absolute;
  color:
    #8a8a8a;
  top: 154px;
  margin: -10px 0px 0px 7px;
  font-size: 15px;
}

.input-date {
  /* border-right: 3px solid #fff; */
}

.input-date1 {
  border-right: 3px solid #4a8f7d;
}

.image-full {
  width: auto;
  padding: 2px;
  background-color: black;
  height: 454px;
}

.image-fill {
  max-width: 500px;
  height: auto;
  /*background-color: red;*/
}

.head-left {
  margin-top: 85px;
  color: #fff;
}



.btn-expertise .btn {
  font-weight: bold;
  width: 120px;
}

.fill-image {
  width: 100%;
}

.search-patient {
  border-bottom: 5px solid #4a8f7d;
}

.logo3 {
  margin-top: 45px;
}




.modal-expertise {
  width: 95%;

}





.image-expertise {
  background-color: #000;
}

.active-menu {
  border-radius: 3px 0 0 3px;
  background: #ecebeb;
  color: #1e92c1 !important;
}

.label-chart {
  font-weight: bold;
  background-color: #e1e1e1;
  padding: 10px 5px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .05);
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .05);

}

.chart-box2 {
  border: 1px solid #d4d4d4;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
}

.table-home td {
  font-weight: bold;
  font-size: 20px;
}

.search-workload5 img {
  height: 90%;
  padding: 10px;
}

.search_chart2 {
  padding-top: 20px;
}

@media only screen and (max-width: 991px) {
  .search-workload5 {
    height: 290px;
  }

  .search-workload5 img {
    height: 82%;
    padding: 10px;
  }
}


@media only screen and (max-width: 1148px) {
  .search_chart2 {
    padding-top: 0px;
  }
}

.aetitle-box {
  background-color: #fff;
  padding: 10px;
}

/*----------------------animate-------------------------*/


#container-animate {
  color: #999;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  padding-top: 65px;
  /*position:fixed;*/
  width: 100%;
  bottom: 45%;
  display: block;
}

#flip1 {
  height: 50px;
  overflow: hidden;
}

#flip1>div>div {
  color: #fff;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip1 div:first-child {
  animation: show 5s linear infinite;
}

#flip1 div:last-child {
  animation: show 5s linear infinite;
}

#flip1 div div {
  background: #42c58a;
}

#flip1 div:first-child div {
  background: #4ec7f3;
}

#flip1 div:last-child div {
  background: #DC143C;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }

  5% {
    margin-top: -180px;
  }

  33% {
    margin-top: -180px;
  }

  38% {
    margin-top: -90px;
  }

  66% {
    margin-top: -90px;
  }

  71% {
    margin-top: 0px;
  }

  99.99% {
    margin-top: 0px;
  }

  100% {
    margin-top: -270px;
  }
}



/*----------------------animate-------------------------*/

#downloadexcel {
  width: 100%;
  font-size: 13px;
  background-color: #fff;
  box-shadow: 0px 0px 3px #000;
  padding: 5px;
}

#menu {
  margin: 15px 0px;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}


#menu a {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  border-right: 3px solid #d0cdcd;
  border-left: 3px solid #d0cdcd;
}


#menu a.active {
  background-color: #1e92c1;
  color: #fff;
}

#menu a:hover {
  background-color: #1e92c1;
  color: #fff;
}

.table-download tr th {
  font-size: 15px;

}

.table-download tr td {
  font-size: 15px;

}



/*-------------input file-------------------*/
label.file1 input {
  position: absolute;
  width: 0;
  overflow: hidden;
  opacity: 0;
}

label.file1 {
  width: 0%;
  /* Use for fluid design */
  min-width: 215px;
  height: 33px;
  line-height: 23px !important;
  cursor: pointer;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  font-family: sans-serif;
  text-align: right;
  margin-bottom: 0px;
}

label.file1:before {
  content: "Upload..";
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: inherit;
  padding: 4px 45px 0 10px;
  border: 0px solid #d3d3d3;
  border-width: 2px 0px 2px 2px;
  border-radius: 3px 0 0 3px;
  background-color: #fff;
  color: #a0b7c5;
  font-size: 9px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  vertical-align: middle;
}

label.file1[title]:not([title=""]):before {
  content: attr(title);
  color: #162f44;
}

label.file1:after {
  content: "Browse";
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: 43px;
  height: inherit;
  padding: 5px 4px;
  border-radius: 0 3px 3px 0;
  background-color: #1e92c1;
  color: #fff;
  overflow: hidden;
  font-size: 9px;
  font-weight: bold;
  text-overflow: ellipsis;
  text-align: center;
  vertical-align: middle;
}





/*-------------end input file-------------------*/


@media only screen and (min-width: 992px) {
  .home-box3 {
    padding: 45px 29px 45px 29px;
    text-align: left;
  }
}

.home-box3 {
  background-color: rgba(255, 255, 255, .85);
  /*border-radius: 12px;*/
  height: 396px;
  /*border: 1px solid #d6d6d6;*/
}

.home-box3 .subtitle {
  font-size: 18px;
  display: block;
  margin-bottom: 15px;
  letter-spacing: -.01em;
}

.home-box3>h1,
.home-box3 span {
  color: #346bae;
}

@media only screen and (min-width: 1200px) {
  .home-box3 h1 {
    font-size: 52px;
    line-height: 1.19231;
  }
}

@media only screen and (max-width: 991px) {
  .chart-box2 {
    margin-bottom: 20px;
  }
}

.home-logos {}

.img3 {
  max-width: 500px;
  /*margin-top: 25px;*/
  float: right;

}


@media only screen and (max-height: 782px) {
  .dropdown-lgout {
    top: 0px;
    position: absolute;
    padding-top: 0px;
  }
}


@media only screen and (max-width: 556px) {
  .img3 {
    width: 100%;
  }
}





.table-form {
  width: 100%;
}

.textsearchnewpasien2 {
  color: #fcfcfc;
  background: #1e92c1;
  margin: 7px 0px 0px 0px;
  padding: 5px;
}

.margin-top-minus {
  margin-top: -41px;
}

.border-bottom-plus {
  border-bottom: solid 3px #116d93;
}

.border2 {
  border: 2px solid red;
}

.table-exam td {
  font-weight: bold;
}

.logo-top {
  display: flex;
  justify-content: space-between;
}

.ris-head {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  font-size: 15px;
  font-weight: bold;
}

.tdHome {
  background-color: rgba(255, 255, 255, 0.57);
  padding: 1px;
  border: solid 1px #eee7e7;
}

.table-dicom thead th,
.table-dicom thead td {
  border-bottom: 3px solid #1e92c1;
}

table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 3px solid #1e92c1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}


.title-mobile img {
  width: 80px;
  margin-top: -1px;
}



.report-radiology {
  background: #fff;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 4px;
  padding: 30px;
  padding-top: 35px;
  margin-top: 13px;
}

.top-report-rad {
  height: auto;
}


.report-radiology label {
  font-size: 13px;
}


























@media only screen and (max-width: 650px) {

  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
    display: flex;
    justify-content: flex-start;
  }

  .pagination {
    float: none;
  }

}


@media only screen and (max-width: 991px) {

  .report-input {
    border-left: none;
    border-right: none;
  }

}



@media only screen and (max-width: 1115px) {
  .nav-fostrap li a {
    border-radius: 0px;
    width: 125%;
    margin-left: -20px;
  }

  .active-menu {
    background-color: #d5dee1;
  }

}